body, html {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background2.jpg');
  background-repeat: repeat; 
  background-size: cover;
  background-attachment: fixed;
  z-index: -1; /* Ensure background is behind other content */

}

.content {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling for content */
  padding: 50 50px; /* Adjust padding as needed */

}

.title {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  margin-bottom:  0%;

}

.memory-cards {
  display: flex;
  justify-content: center; /* Horizontally center the memory cards */
  margin: 50 -50px; /* Counteract the padding of the content container */
}

.memory-card {
  padding-top: 5%; /* Adjust as needed */
  padding-left: 5%;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  display: inline-block;
  margin: 10px;
  border-radius: 30px;

}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.memory-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5e5c7e;
  border-radius: 30px;
}

.card-front {
  background-color: #5e5c7e;
  color: white;
}

.card-back {
  background-color: #1f1e2e;
  color: #5e5c7e;
  transform: rotateY(180deg);
}

/* Style for search input */
.search-container {
  position: relative;
  margin: 0 auto; /* Center the search container horizontally */
  width: 50%; /* Adjust the width as needed */
  text-align: center; /* Center the search input and button */
  color: #1f1e2e;

}

.search-container input[type="text"] {
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity value (0.8) as needed */
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: #1f1e2e;
  outline: none;

}



.search-container input[type="text"]:focus {
  border-color: #5e5c7e;
  color: #1f1e2e;

}

.search-container button {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #5d5b78;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: rgba(104, 101, 144, 0.8); /* Adjust the opacity value (0.8) as needed */


}

.search-container button:hover {
  /*background-color: #1f1e2e;*/
  color: #1f1e2e;
  background-color: rgba(205, 204, 255, 0.8); /* Adjust the opacity value (0.8) as needed */

}
